venv/
.venv/
pyproject.toml

**/__pycache__
__pycache__
*.pyc

.DS_Store
.idea/


output/
*.txt

sim_storage/*
!sim_storage/invest_seed
!sim_storage/sign_seed
!sim_storage/change_sim_folder.py


analysis/*
!analysis/analysis.py
!analysis/social_network.py
!analysis/statis_methods.py
!analysis/statis_methods_sign.py


figure

utils.py
metrics.md
plot/
analysis_return/