venv/
.venv/
.vscode
pyproject.toml

**/__pycache__
__pycache__
*.pyc

.DS_Store
.idea/


output/


sim_storage/*
!sim_storage/invest_seed
!sim_storage/sign_seed
!sim_storage/change_sim_folder.py


analysis/*


figure
gossip_data

utils.py
metrics.md
plot/
analysis_return/