venv/
pyproject.toml

.DS_Store
.idea/

sim_storage/
!sim_storage/change_sim_folder.py
!sim_storage/investment_s1/
sim_storage/investment_s1/*

!sim_storage/investment_s1/step_0/
!sim_storage/investment_s1/step_0/**

output/

utils.py
