[tool.black]
line-length = 88
target-version = ['py37']
include = '\.pyi?$'
preview = true

[tool.ruff]
line-length = 88


[tool.ruff.format]
indent-style = "space"
quote-style = "double"
line-ending = "auto"

[tool.ruff.lint]
select = ["E", "F", "W", "I"]
ignore = ["F403", "F405","F401", "E402", "I001", "W293"]

[tool.ruff.lint.isort]
force-single-line = true
lines-between-types = 1 